[text-split] {
	opacity: 0;
}
html.w-editor [text-split] {
	opacity: 1;
}
.word {
	overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}
[js-line-animation] {
	visibility: hidden;
}
.w--editor [js-line-animation] {
	visibility: visible;
}
[js-line-animation] .line {
	overflow: hidden;
}
